
@media (max-width: 1200px) {
    .squares {
        flex-direction: column !important;
        font-size: 80% !important;

    }

    .square {
        width: 70% !important;
        gap: 2rem !important;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
    }

    .description-box {
        text-align: center !important;
        padding: 0 !important;
    }

    .top-text {
        margin: 0;

    }

    .CTA-btn {
        flex-direction: column;
        font-size: 1rem;
        width: 50%;

    }

    .logo {
        width: 200px;
    }

    .image-wrap {
        width: 80% !important;
    }

    .image-wrap h4 {
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    }

    .image-wrap img {
        width: 100% !important;
        height: 350px;
    }
}


/*   screen 900 px */
@media (max-width:900px) {
    footer{
        grid-template-columns: 1fr 1fr;
    }
    footer a{
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}




/* screen 600px */
@media (max-width: 600px) {
            
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar>.logo {
        margin-bottom: 10px;
        text-align: center;
        
    }

    .navbar>.logo img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .nav-box  {
        align-items: center;
        text-align: center;
    }

    .navi-links-box {
        justify-content: center;
        font-size: 1em;
    }

    .top-navbar-buttons {
        flex-direction: right;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        text-align: center;
        font-size: 1em;
        justify-content: space-around;

    }

    .top-nav-btn {
        margin: 5px 0;
    }

    .image-wrap img {
        width: 100% !important;
        height: 350px !important;
    }
    .CTA-btn {
        flex-direction: column;
        font-size: 50% !important;
        width: 60%;

    }
    footer a{
        flex-direction: column;
    }

}

/*  screen low 500 px */

@media (max-width: 500px){
    .image-wrap img {
        width: 100% !important;
        height: 250px !important;
    }
    .CTA-btn {
    
        font-size: 40% !important;
        width: 70%;

    }


}